<% if(typeof error === "string") { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
<% } %>
<% if(typeof success === "string") { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
<% } %>