<% if (typeof error === 'string') { %>
<div class="alert alert-danger text-center">
    <%= error %>
</div>
<% } else if(typeof success === 'string') { %>
<div class="alert alert-success text-center">
    <%= success %>
</div>
<% } %>

<script>
    let alert = document.querySelector('.alert')
    setTimeout(() => {
        alert.classList.add('d-none');
    }, 7000)
</script>

<style>
    .alert {
        top: 5px;
        right: 5px;
        z-index: 1002;
        max-width: 600px;
        min-width: 400;
        position: fixed;
    }

    .d-none {
        display: none;
    }
</style>
